@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-serif: 'The Season', 'Playfair Display', serif;

  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  font-family: var(--font-sans);
  color: var(--color-black);
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}